data/** filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
data/test/inference/lookup_export/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
data/test/inference/fg_export_multi/variables/variables.index filter=lfs diff=lfs merge=lfs -text
data/test/inference/tb_multitower_export/assets/pipeline.config filter=lfs diff=lfs merge=lfs -text
data/test/latest_ckpt_test/model.ckpt-500.meta filter=lfs diff=lfs merge=lfs -text
data/test/tb_data/taobao_test_data filter=lfs diff=lfs merge=lfs -text
data/test/test.csv filter=lfs diff=lfs merge=lfs -text
data/test/inference/tb_multitower_placeholder_rename_export/assets/pipeline.config filter=lfs diff=lfs merge=lfs -text
data/test/inference/tb_multitower_export/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
data/test/tb_data_with_time/taobao_test_data_with_time filter=lfs diff=lfs merge=lfs -text
data/test/latest_ckpt_test/model.ckpt-500.index filter=lfs diff=lfs merge=lfs -text
data/test/lookup_data.csv filter=lfs diff=lfs merge=lfs -text
data/test/criteo_sample.tfrecord filter=lfs diff=lfs merge=lfs -text
data/test/rtp/taobao_valid.csv filter=lfs diff=lfs merge=lfs -text
data/test/rtp/taobao_train_feature.txt filter=lfs diff=lfs merge=lfs -text
data/test/tb_data/taobao_train_data filter=lfs diff=lfs merge=lfs -text
data/test/inference/fg_export_single/variables/variables.index filter=lfs diff=lfs merge=lfs -text
data/test/inference/lookup_data_test80.csv filter=lfs diff=lfs merge=lfs -text
data/test/inference/tb_multitower_export/variables/variables.index filter=lfs diff=lfs merge=lfs -text
data/test/export/data.csv filter=lfs diff=lfs merge=lfs -text
data/test/embed_data.csv filter=lfs diff=lfs merge=lfs -text
data/test/rtp/taobao_fg_pred.out filter=lfs diff=lfs merge=lfs -text
data/test/dwd_avazu_ctr_deepmodel_10w.csv filter=lfs diff=lfs merge=lfs -text
data/test/tb_data/taobao_train_data_kd filter=lfs diff=lfs merge=lfs -text
data/test/inference/fg_export_single/saved_model.pb filter=lfs diff=lfs merge=lfs -text
data/test/inference/lookup_export/variables/variables.index filter=lfs diff=lfs merge=lfs -text
data/test/tag_kv_data.csv filter=lfs diff=lfs merge=lfs -text
data/test/rtp/taobao_train_input.txt filter=lfs diff=lfs merge=lfs -text
data/test/rtp/taobao_test_bucketize_feature.txt filter=lfs diff=lfs merge=lfs -text
data/test/inference/tb_multitower_placeholder_rename_export/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
data/test/inference/fg_export_single/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
data/test/inference/fg_export_multi/assets/pipeline.config filter=lfs diff=lfs merge=lfs -text
data/test/inference/fg_export_multi/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
data/test/inference/lookup_export/assets/pipeline.config filter=lfs diff=lfs merge=lfs -text
data/test/inference/lookup_export/saved_model.pb filter=lfs diff=lfs merge=lfs -text
data/test/inference/taobao_infer_data.txt filter=lfs diff=lfs merge=lfs -text
data/test/inference/tb_multitower_placeholder_rename_export/saved_model.pb filter=lfs diff=lfs merge=lfs -text
data/test/tb_data/taobao_test_data_kd filter=lfs diff=lfs merge=lfs -text
data/test/hpo_test/eval_val/events.out.tfevents.1597889819.j63d04245.sqa.eu95 filter=lfs diff=lfs merge=lfs -text
data/test/inference/tb_multitower_placeholder_rename_export/variables/variables.index filter=lfs diff=lfs merge=lfs -text
data/test/inference/fg_export_single/assets/pipeline.config filter=lfs diff=lfs merge=lfs -text
data/test/inference/fg_export_multi/saved_model.pb filter=lfs diff=lfs merge=lfs -text
data/test/inference/tb_multitower_export/saved_model.pb filter=lfs diff=lfs merge=lfs -text
data/test/rtp/taobao_test_input.txt filter=lfs diff=lfs merge=lfs -text
data/test/rtp/taobao_test_feature.txt filter=lfs diff=lfs merge=lfs -text
data/test/test_with_quote.csv filter=lfs diff=lfs merge=lfs -text
data/test/tb_data_with_time/taobao_train_data_with_time filter=lfs diff=lfs merge=lfs -text
data/test/latest_ckpt_test/model.ckpt-500.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
data/test/rtp/taobao_valid_feature.txt filter=lfs diff=lfs merge=lfs -text
data/test/rtp/taobao_train_bucketize_feature.txt filter=lfs diff=lfs merge=lfs -text
