train_input_path: "examples/data/criteo/criteo_train_data"
eval_input_path: "examples/data/criteo/criteo_test_data"
model_dir: "examples/ckpt/deepfm_backbone_criteo"

train_config {
  log_step_count_steps: 500
  optimizer_config: {
    adam_optimizer: {
      learning_rate: {
        exponential_decay_learning_rate {
          initial_learning_rate: 0.001
          decay_steps: 1000
          decay_factor: 0.5
          min_learning_rate: 0.00001
        }
      }
    }
    use_moving_average: false
  }
  save_checkpoints_steps: 20000
  sync_replicas: True
}

eval_config {
  metrics_set: {
    auc {}
  }
}

data_config {
  separator: "\t"
  input_fields: {
    input_name: "label"
    input_type: FLOAT
    default_val:"0"
  }
  input_fields: {
    input_name: "F1"
    input_type: FLOAT
    default_val:"0"
  }
  input_fields: {
    input_name: "F2"
    input_type: FLOAT
    default_val:"0"
  }
  input_fields: {
    input_name: "F3"
    input_type: FLOAT
    default_val:"0"
  }
  input_fields: {
    input_name: "F4"
    input_type: FLOAT
    default_val:"0"
  }
  input_fields: {
    input_name: "F5"
    input_type: FLOAT
    default_val:"0"
  }
  input_fields: {
    input_name: "F6"
    input_type: FLOAT
    default_val:"0"
  }
  input_fields: {
    input_name: "F7"
    input_type: FLOAT
    default_val:"0"
  }
  input_fields: {
    input_name: "F8"
    input_type: FLOAT
    default_val:"0"
  }
  input_fields: {
    input_name: "F9"
    input_type: FLOAT
    default_val:"0"
  }
  input_fields: {
    input_name: "F10"
    input_type: FLOAT
    default_val:"0"
  }
  input_fields: {
    input_name: "F11"
    input_type: FLOAT
    default_val:"0"
  }
  input_fields: {
    input_name: "F12"
    input_type: FLOAT
    default_val:"0"
  }
  input_fields: {
    input_name: "F13"
    input_type: FLOAT
    default_val:"0"
  }
  input_fields: {
    input_name: "C1"
    input_type: STRING
    default_val:""
  }
  input_fields: {
    input_name: "C2"
    input_type: STRING
    default_val:""
  }
  input_fields: {
    input_name: "C3"
    input_type: STRING
    default_val:""
  }
  input_fields: {
    input_name: "C4"
    input_type: STRING
    default_val:""
  }
  input_fields: {
    input_name: "C5"
    input_type: STRING
    default_val:""
  }
  input_fields: {
    input_name: "C6"
    input_type: STRING
    default_val:""
  }
  input_fields: {
    input_name: "C7"
    input_type: STRING
    default_val:""
  }
  input_fields: {
    input_name: "C8"
    input_type: STRING
    default_val:""
  }
  input_fields: {
    input_name: "C9"
    input_type: STRING
    default_val:""
  }
  input_fields: {
    input_name: "C10"
    input_type: STRING
    default_val:""
  }
  input_fields: {
    input_name: "C11"
    input_type: STRING
    default_val:""
  }
  input_fields: {
    input_name: "C12"
    input_type: STRING
    default_val:""
  }
  input_fields: {
    input_name: "C13"
    input_type: STRING
    default_val:""
  }
  input_fields: {
    input_name: "C14"
    input_type: STRING
    default_val:""
  }
  input_fields: {
    input_name: "C15"
    input_type: STRING
    default_val:""
  }
  input_fields: {
    input_name: "C16"
    input_type: STRING
    default_val:""
  }
  input_fields: {
    input_name: "C17"
    input_type: STRING
    default_val:""
  }
  input_fields: {
    input_name: "C18"
    input_type: STRING
    default_val:""
  }
  input_fields: {
    input_name: "C19"
    input_type: STRING
    default_val:""
  }
  input_fields: {
    input_name: "C20"
    input_type: STRING
    default_val:""
  }
  input_fields: {
    input_name: "C21"
    input_type: STRING
    default_val:""
  }
  input_fields: {
    input_name: "C22"
    input_type: STRING
    default_val:""
  }
  input_fields: {
    input_name: "C23"
    input_type: STRING
    default_val:""
  }
  input_fields: {
    input_name: "C24"
    input_type: STRING
    default_val:""
  }
  input_fields: {
    input_name: "C25"
    input_type: STRING
    default_val:""
  }
  input_fields: {
    input_name: "C26"
    input_type: STRING
    default_val:""
  }
  label_fields: "label"

  batch_size: 4096
  num_epochs: 1
  prefetch_size: 32
  input_type: CSVInput
}

feature_config: {
  features: {
    input_names: "F1"
    embedding_dim: 16
    feature_type: RawFeature
    min_val:0.0
    max_val: 5775.0
  }
  features: {
    input_names: "F2"
    embedding_dim: 16
    feature_type: RawFeature
    min_val: -3.0
    max_val: 257675.0
  }
  features: {
    input_names: "F3"
    embedding_dim: 16
    feature_type: RawFeature
    min_val: 0.0
    max_val: 65535.0
  }
  features: {
    input_names: "F4"
    embedding_dim: 16
    feature_type: RawFeature
    min_val: 0.0
    max_val: 969.0
  }
  features: {
    input_names: "F5"
    embedding_dim: 16
    feature_type: RawFeature
    min_val: 0.0
    max_val: 23159456.0
  }
  features: {
    input_names: "F6"
    embedding_dim: 16
    feature_type: RawFeature
    min_val: 0.0
    max_val: 431037.0
  }
  features: {
    input_names: "F7"
    embedding_dim: 16
    feature_type: RawFeature
    min_val: 0.0
    max_val: 56311.0
  }
  features: {
    input_names: "F8"
    embedding_dim: 16
    feature_type: RawFeature
    min_val: 0.0
    max_val: 6047.0
  }
  features: {
    input_names: "F9"
    embedding_dim: 16
    feature_type: RawFeature
    min_val: 0.0
    max_val: 29019.0
  }
  features: {
    input_names: "F10"
    embedding_dim: 16
    feature_type: RawFeature
    min_val: 0.0
    max_val: 46.0
  }
  features: {
    input_names: "F11"
    embedding_dim: 16
    feature_type: RawFeature
    min_val: 0.0
    max_val: 231.0
  }
  features: {
    input_names: "F12"
    embedding_dim: 16
    feature_type: RawFeature
    min_val: 0.0
    max_val: 4008.0
  }
  features: {
    input_names: "F13"
    embedding_dim: 16
    feature_type: RawFeature
    min_val: 0.0
    max_val: 7393.0
  }
  features: {
    input_names: "C1"
    hash_bucket_size: 1000000
    feature_type: IdFeature
    embedding_dim: 16
  }
  features: {
    input_names: "C2"
    hash_bucket_size: 1000000
    feature_type: IdFeature
    embedding_dim: 16
  }
  features: {
    input_names: "C3"
    hash_bucket_size: 1000000
    feature_type: IdFeature
    embedding_dim: 16
  }
  features: {
    input_names: "C4"
    hash_bucket_size: 1000000
    feature_type: IdFeature
    embedding_dim: 16
  }
  features: {
    input_names: "C5"
    hash_bucket_size: 1000000
    feature_type: IdFeature
    embedding_dim: 16
  }
  features: {
    input_names: "C6"
    hash_bucket_size: 1000000
    feature_type: IdFeature
    embedding_dim: 16
  }
  features: {
    input_names: "C7"
    hash_bucket_size: 1000000
    feature_type: IdFeature
    embedding_dim: 16
  }
  features: {
    input_names: "C8"
    hash_bucket_size: 1000000
    feature_type: IdFeature
    embedding_dim: 16
  }
  features: {
    input_names: "C9"
    hash_bucket_size: 1000000
    feature_type: IdFeature
    embedding_dim: 16
  }
  features: {
    input_names: "C10"
    hash_bucket_size: 1000000
    feature_type: IdFeature
    embedding_dim: 16
  }
  features: {
    input_names: "C11"
    hash_bucket_size: 1000000
    feature_type: IdFeature
    embedding_dim: 16
  }
  features: {
    input_names: "C12"
    hash_bucket_size: 1000000
    feature_type: IdFeature
    embedding_dim: 16
  }
  features: {
    input_names: "C13"
    hash_bucket_size: 1000000
    feature_type: IdFeature
    embedding_dim: 16
  }
  features: {
    input_names: "C14"
    hash_bucket_size: 1000000
    feature_type: IdFeature
    embedding_dim: 16
  }
  features: {
    input_names: "C15"
    hash_bucket_size: 1000000
    feature_type: IdFeature
    embedding_dim: 16
  }
  features: {
    input_names: "C16"
    hash_bucket_size: 1000000
    feature_type: IdFeature
    embedding_dim: 16
  }
  features: {
    input_names: "C17"
    hash_bucket_size: 1000000
    feature_type: IdFeature
    embedding_dim: 16
  }
  features: {
    input_names: "C18"
    hash_bucket_size: 1000000
    feature_type: IdFeature
    embedding_dim: 16
  }
  features: {
    input_names: "C19"
    hash_bucket_size: 1000000
    feature_type: IdFeature
    embedding_dim: 16
  }
  features: {
    input_names: "C20"
    hash_bucket_size: 1000000
    feature_type: IdFeature
    embedding_dim: 16
  }
  features: {
    input_names: "C21"
    hash_bucket_size: 1000000
    feature_type: IdFeature
    embedding_dim: 16
  }
  features: {
    input_names: "C22"
    hash_bucket_size: 1000000
    feature_type: IdFeature
    embedding_dim: 16
  }
  features: {
    input_names: "C23"
    hash_bucket_size: 1000000
    feature_type: IdFeature
    embedding_dim: 16
  }
  features: {
    input_names: "C24"
    hash_bucket_size: 1000000
    feature_type: IdFeature
    embedding_dim: 16
  }features: {
    input_names: "C25"
    hash_bucket_size: 1000000
    feature_type: IdFeature
    embedding_dim: 16
  }
  features: {
    input_names: "C26"
    hash_bucket_size: 1000000
    feature_type: IdFeature
    embedding_dim: 16
  }
}
model_config: {
  model_name: 'DeepFM'
  model_class: 'RankModel'
  feature_groups: {
    group_name: "deep_features"
    feature_names: "F1"
    feature_names: "F2"
    feature_names: "F3"
    feature_names: "F4"
    feature_names: "F5"
    feature_names: "F6"
    feature_names: "F7"
    feature_names: "F8"
    feature_names: "F9"
    feature_names: "F10"
    feature_names: "F11"
    feature_names: "F12"
    feature_names: "F13"
    feature_names: "C1"
    feature_names: "C2"
    feature_names: "C3"
    feature_names: "C4"
    feature_names: "C5"
    feature_names: "C6"
    feature_names: "C7"
    feature_names: "C8"
    feature_names: "C9"
    feature_names: "C10"
    feature_names: "C11"
    feature_names: "C12"
    feature_names: "C13"
    feature_names: "C14"
    feature_names: "C15"
    feature_names: "C16"
    feature_names: "C17"
    feature_names: "C18"
    feature_names: "C19"
    feature_names: "C20"
    feature_names: "C21"
    feature_names: "C22"
    feature_names: "C23"
    feature_names: "C24"
    feature_names: "C25"
    feature_names: "C26"
    wide_deep:DEEP
  }
  feature_groups: {
    group_name: "wide_features"
    feature_names: "F1"
    feature_names: "F2"
    feature_names: "F3"
    feature_names: "F4"
    feature_names: "F5"
    feature_names: "F6"
    feature_names: "F7"
    feature_names: "F8"
    feature_names: "F9"
    feature_names: "F10"
    feature_names: "F11"
    feature_names: "F12"
    feature_names: "F13"
    feature_names: "C1"
    feature_names: "C2"
    feature_names: "C3"
    feature_names: "C4"
    feature_names: "C5"
    feature_names: "C6"
    feature_names: "C7"
    feature_names: "C8"
    feature_names: "C9"
    feature_names: "C10"
    feature_names: "C11"
    feature_names: "C12"
    feature_names: "C13"
    feature_names: "C14"
    feature_names: "C15"
    feature_names: "C16"
    feature_names: "C17"
    feature_names: "C18"
    feature_names: "C19"
    feature_names: "C20"
    feature_names: "C21"
    feature_names: "C22"
    feature_names: "C23"
    feature_names: "C24"
    feature_names: "C25"
    feature_names: "C26"
    wide_deep:WIDE
  }
  backbone {
    blocks {
      name: 'wide_features'
      inputs {
        feature_group_name: 'wide_features'
      }
      input_layer {
        wide_output_dim: 1
      }
    }
    blocks {
      name: 'wide_logit'
      inputs {
        block_name: 'wide_features'
      }
      lambda {
        expression: 'lambda x: tf.reduce_sum(x, axis=1, keepdims=True)'
      }
    }
    blocks {
      name: 'deep_features'
      inputs {
        feature_group_name: 'deep_features'
      }
      input_layer {
        output_2d_tensor_and_feature_list: true
      }
    }
    blocks {
      name: 'fm'
      inputs {
        block_name: 'deep_features'
        input_slice: '[1]'
      }
      keras_layer {
        class_name: 'FM'
        st_params {
          fields {
            key: 'use_variant'
            value { bool_value: true }
          }
        }
      }
    }
    blocks {
      name: 'deep'
      inputs {
        block_name: 'deep_features'
        input_slice: '[0]'
      }
      keras_layer {
        class_name: 'MLP'
        mlp {
          hidden_units: [256, 128, 64]
        }
      }
    }
    concat_blocks: ['wide_logit', 'fm', 'deep']
    top_mlp {
      hidden_units: [256, 128, 64]
    }
  }
  model_params {
    l2_regularization: 1e-5
  }
  embedding_regularization: 1e-5
}
